@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&display=swap");

.navbar {
  display: flex;
  background-color: rgb(168, 139, 255);
}

.navbarleft {
  background-color: coral;
  display: flex;
  width: 60%;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;

  text-align: left;
}

.navright {
  display: flex;
  width: 40%;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;

  background-color: blue;
}

img {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.images {
  border: 2px solid rgb(60, 255, 0);
  /* height: 70px; */
  width: 60px;
  display: flex;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon {
  border: 3px solid black;
  width: 60px;
  display: flex;
  margin-left: 210px;
  justify-content: center;
  align-items: center;
}
